.products-container {
    display: flex;
	justify-content: space-around;
	border-radius: 5px;
	transition: 0.2s ease-in-out;
	width: 333px;
	margin: 30px;

	img {
		object-fit: contain;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		max-width: 333px;
	}

	button {
		border-radius: 5px;
		border: 1px solid lightcoral;
		padding: 10px;
		background: transparent;
		transition: 0.15s ease-in-out;
		margin: 10px 0;
		color: lightcoral;
		margin-left: 25px;

		&:hover {
			cursor: pointer;
			background: lightcoral;
			color: white;
		}
	}
}
